%h4 Environment & Source Control
%h1 Environment Setup
%hr
%p
  Setting up your environment can be difficult when you’re first starting with Ruby. We want to get the following installed:
  %ul
    %li Git
    %li Ruby 2.0 and Ruby 1.9.3
    %li A text editor
%p
  The setup instructions are broken down by the following platforms: Mac; Linux; and Windows.
%hr